{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Boards</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <ol class="breadcrumb my-4 bg-success">
                <li class="breadcrumb-item active "><span class="text-danger align-center">Boards</span></li>
              </ol>
        <table class="table">
            <thead class="thead-inverse bg-secondary">
              <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
              </tr>
            </thead>
            <tbody>
              {% for board in boards %}
                <tr>
                  <td>
                    <!-- {{ board.name }}<br> -->
                    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                  </td>
                  <td class="align-middle">0</td>
                  <td class="align-middle">0</td>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        <!-- {% for board in boards %}
            {{ board.name }}<br>
            {% endfor %} -->
      </div>
    </body>
</html>